<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Global Energy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
</head>

<body>
  <!-- navbar -->

  <nav id="navbar">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="https://globalenergy.herokuapp.com/">
        <img src="../static/images/Globe-Logo.png"
          style="width:40px;" class="d-inline-block align-left" alt="">
      </a>

      <div class="navbar-header">
        <a class="navbar-brand team-name" href="https://globalenergy.herokuapp.com"
          style="padding-left:5px; padding-top:30px; padding-bottom:30px">
          Global Energy Consumption Team</a>
      </div>

    </nav>
  </nav>

  <!-- jumbotron & intro -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <!-- <div class="img"></div> -->
        <h1>'Dashboard Tittle'</h1>
      </div>
    </div>
  </div>

  <!-- Stacked Graph -->
  <section class="bg-light" id="SVI-data" style="padding: 20px">
    <div class="container">
      <div class="row text-center">
        <h2>"Graph 1 Tittle"</h2>
      </div>

      <div class='row'style="padding-top: 25px">
        <div class="col-md-2">

          <div class="well">
            <h5>SELECT Country:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Sample MetaData</h3>
            </div>
            <div id="sample-metadata" class="panel-body"></div>
          </div>

          <div class="col-md-10">
            <div id="stacked-lineChart"></div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- Gauge Section -->
  <section>
    <div class="container">
      <div class="row text-center">
        <h2>"Gauges Section Tittle"</h2>
      </div>

    <div class="wrapper">
      <div class="flexbox">
        <div class="box">
          <div id="#1-gauge" class="gauge"></div>
          <div type="textbox" id="1-text" class="info-box"></div>
        </div>
        <div class="box">
          <div id="#2-gauge" class="gauge"></div>
          <div type="textbox" id="2-text" class="info-box"></div>
        </div>
        <div class="box">
          <div id="#3-gauge" class="gauge"></div>
          <div type="textbox" id="2-text" class="info-box"></div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>

  <div class="container">
    <div class="row text-center">
      <div id="footer">
      <p>GECT&copy;2019</p>
    </div>
  </div>


<!-- Libraries  -->
    <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/bonus_final.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/app_global_energy.js') }}"></script>

</body>

</html>